@charset "utf-8";
/* CSS Document */
body             {
   background-color: #CCC;
   text-align:center;
   margin:auto;
   position: relative;
padding-top:80px;
border-radius:5px 5px 5px 5px;
 background: url(logo/BG.jpg) no-repeat center fixed; -webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;
 border-width:1px;
 border-color:#FFF;

}
.contenu 					{width:1080px; margin:auto;}
.rechercher-p             {
	background-color: #CCC;
	border-style:solid;
	border-width:1px;
	border-color:#00F;
	padding:10 px 10 px 10 px 10 pxs;
}
#searchthis #search                 {
	background-color:#CCC;
	border-style:solid;
	border-color:#00F;
	padding: 5px 10px 5px 10px;
	width:20%;
	box-sizing:border-box;
	font-family: Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	letter-spacing:1px;
	}
#searchthis #search-btn                 {
	background-color: #C60;
	border-style:solid;
	border-width:1px;
	border-color: #C60;
	padding: 5px 10px 5px 10px;
	width:15%;
	box-sizing:border-box;
	font-family:"Comic Sans MS", cursive;
	font-size:14px;
	font-weight:normal;
	letter-spacing:2px;
	margin:10 px 0 0 0;
	text-transform:uppercase;
	color:#FFF;
	}
#menu                  {
	background-color: #cd3d05;
	text-align:center;
	width: auto;
	height:35px;
	line-height:35px;
	position: fixed relative ;
	
	}
#menu li                  {
	list-style-type:none;
	display:inline-block;
	background-color: #cd3d05;
	border-radius:5px 5px 5px 5px;
	}
#menu li a                  {
	text-decoration:none;
	color:#FFF;	
	}
#menu li:hover              {
	color:#0b6506;
	background-color:#0b6506;
	}
#haut               {
	background-color: #FFF;
	background-image:url(logo/arriere.jpg);
	height:auto; padding-top:20px;
	}
#php               {
	background-color: #000;
	color:#FFF;
	width:100%;
	text-align:center;
	float:left;
	}
#contenu               {
	background-color: #FFF;
	width:100%; height:auto;
	text-align:center;
	float:left;
	}
#section               {
	background-color: #CCC;
	width:500px; height:auto;
	}
#sidebar 						{
	width: 260px;
	background-color: #CCC;
	float: left;
 	padding: 20px;
}
.submenu      {
	display:none;
	}
.span4     {
	width: 23.33%;
	height:auto;
	margin-left:0.5%;
	float:left;
	text-align:center;
	text-decoration:none;
	text-align: left;
	
}
.span4     h3{
	float:left;	
}
.span5     {
	width: 60%;
	height:auto;
	margin-left:0.5%;
	float:left;
	text-align:center;
	text-decoration:none;
	text-align: left ;
	color:#000;
	text-align-last:
}
.span5     h4{
	position:relative;	
}
.download        {
	color: #FFF;
	width: auto;
	margin:2px;
	border-left-width:2px;
	border-color:#3F3;
	background-color: #F30;
	float: none;
}
.download   .span4     {
	background-color:#FFF;
	width:250px;
	height:260px;
}
.download   .span4:hover     {
	background-color: #CCC;
	border-color:#960;
	border-width:2px;
}
.download   .span4    h3 {
	margin:2px;
	height: auto;
	float:left;
	text-align:center;
	background-color:#1edd14;
	
}

.download   .span4    h3:hover {
	background-color: #F30;
	
}
}
.download   .span4    h2 {
	float:left;
	text-align:center;
	
}
.download   .span20     {
	background-color: #009;
	text-decoration:none;
	height:100px;
		}
.h2          {
	float:left;
	text-decoration:none;
	}

.videos        {
	color: #FFF;
	width: auto;
	margin:2px;
	border-left-width:2px;
	border-color:#3F3;
	background-color: #F30;
	float: none;
}
.videos   .span5     {
	background-color:#FFF;
	width: auto;
	height: auto;
}
.videos   .span5:hover     {
	background-color: #CCC;
	border-color:#960;
	border-width:2px;
}
.videos   .span5    h3 {
	margin:2px;
	height: auto;
	text-align:center;
	background-color:#1edd14;
	text-decoration:none;
	
}

.videos   .span5    h3:hover {
	background-color: #F30;
	
}
.videos   .span5    h2 {
	text-align:center;
	
}
.h2          {
	text-decoration:none;
	}
.control    {
	
	width:240px;
	height:3px;
	color:#CCC;
}
.playlist    {
	background-color:#FFF;
	
}
.a {
	color:#00C;
	text-decoration:none;
	background-color:#C00;
	}